 body{
    text-align: center;
    background-color: white;
    color: black;
    
}
.xd{
    padding-top: 30px;
}
.kepdiv{

    margin: auto;
    width: 80%;
    margin-top: 30px;

}
footer{

    margin-top: 30%;

}
.dark-mode {
    background-color: black;
    color: white;
  }